
html {
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  background-color: #fff;
  font-weight: normal;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

}

.main-header {
  min-height: 120px;
  background-color: #eeeeee;
   padding: 83px 0 21px 0;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  display: block;
}

.main-navigation{
  text-transform: uppercase;
  line-height: 30px;
  color: #000000;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo {
  margin-top: 80px;
  margin-bottom: 80px;
  width: auto;
}

.site-navigation,
.user-navigation {
  width: 440px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
  line-height: 65px;
  display: block;
}
.site-navigation li{
    margin-right: 46px;
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.basket {
  color: #000000;
}

.basket:hover,
.basket:focus {
  color: #fb565a;
}

.visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 clip: rect(0 0 0 0);
 overflow: hidden;
}

.button {
  font-family: inherit;
  text-align: center;
  color: #eeeeee;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  color: #fff;
  background-color: #fb565a;
  font-weight: normal;
  font-size: 16px;
}

.button:hover {
  background-color: #e74246;
}

.promo-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.promo-list-catalog {
  list-style: none;
  margin: 0;
  padding: 0;
}

.promo-item {
  position: relative;
  padding-top: 165px;
  width: 300px;
}

.promo-item h3 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.promo-item p {
  color: #283136;
  line-height: 24px;
  font-weight: normal;
}

.promo-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 146px;
  background-repeat: no-repeat;
}

.promo-item-web::before {
  background-image: url("../img/illustration-1.jpg");
}



.promo-item-app::before {
  background-image: url("../img/illustration-2.jpg");
}

.promo-item-pre::before {
  background-image: url("../img/illustration-3.jpg");
}

.promo-item-app .button {
  background-color: #00ca74;
}

.promo-item-app .button:hover {
  background-color: #00bc6c;
}

.promo-item-pre .button {
  background-color: #efc849;
}

.promo-item-pre .button:hover {
  background-color: #eab534;
}

.footer-contacts a {
  color: #000000;
  text-decoration: underline;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #e1e1e1;
  border-radius: 50%;
}


.footer-social ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 360px;
}
.footer-social li {
    margin-right: 11px;
}
.footer-info {
  width: 560px;
  padding-top: 10px;
  margin-left: auto;
}

.footer-social ul {
  list-style: none;
}

.social-button:hover {
  background-color: #e74246;
}

.main-footer {
  padding: 70px 0 70px 0;
  display: flex;
  justify-content: space-between;
}

.main-footer strong {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: bold;
}

.main-footer p {
  color: #444444;
  line-height: 22px;
  margin-top: 15px;
}

.conteiner-colons {
  display: flex;
}

.catalog-list {
  list-style: none;
  width: 760px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.catalog-item {}

.modal {
  color: #000000;
  background-color: #ffffff;
}

.modal h2 {
  font-size: 45px;
}

.modal label {
  font-weight: bold;
}

.modal input,
.modal textarea {
  color: #444444;
}

.sorting {
  width: 260px;
}

.sorting legend {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.sorting fieldset {
  border: 0;
}

.sorting label {
  color: #283136;
}

.sorting ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorting .button {
  background-color: #eeeeee;
  color: #000000;
}

.sorting .button:hover {
  background-color: #dfdfdf;
}

.description {
  background-color: #eeeeee;
}

.description h3 {
  font-size: 18px;
  text-transform: uppercase;
}

.description p {
  color: #666666;
}

.description .price {
  color: #ffffff;
  background-color: #fb565a;
}

.description .price:hover {
  background-color: #e74246;
}
